.App{
  display: flex;
  padding: 1rem;
  justify-content: center;
}
.date-action-container{
  border: 1px solid #ebf1f5;
  display: inline-flex;
  padding: .5rem;
  border-radius: .3rem;
}
.prev-button,.date-selector,.next-button{
  padding: .4rem 1rem;
  cursor: pointer;
  font-size: 16px;
  
}
.prev-button:hover,.date-selector:hover,.next-button:hover{
background-color: #ebf1f5;
}
.datepicker {
  position: absolute;
  background: whitesmoke;
  border-radius: 4px;
  padding: 0.5rem;
  z-index: 2;
}

.datepicker-container{
  position: relative;
}
